# Nuxt dev/build outputs
.nuxt
.output
dist/

# Node dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# System files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Environment files
.env
.env.*
!.env.example

# IDEs and Editors
.vscode/
.idea/
*.suo
*.njsproj
*.sln
*.sw?
